body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

.mySlides {
  display: none;
  position: relative;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: white;
  font-size: 12;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row {
  display: flex;
}

.column {
  display: flex;
  width: 20%;
  height: auto;
}

.demo {
  opacity: 0.6;
  height: 200px;
  object-fit: cover;
}

.active,
.demo:hover {
  opacity: 1;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
